<h1>{{ name }}</h1>

<div class="mt-6 border-t border-gray-100">
  <dl>
    <dt>Name:</dt>
    <dd>{{ name }}</dd>
    <dt>Age:</dt>
    <dd>{{ age }}</dd>
    <dt>Method:</dt>
    <dd>{{ getHeroDescription() }}</dd>
    <dt>Capitalized:</dt>
    <dd>{{ capitalizedName }}</dd>
  </dl>
</div>

<div class="flex w-full justify-end">
  <button class="btn-primary" (click)="changeHero()" *ngIf="name !== 'ironman'">
    Change Name
  </button>
  <button class="btn-primary" (click)="changeAge()" *ngIf="age !== 32">
    Change Age
  </button>
  <button class="btn-danger" (click)="resetForm()">Reset</button>
</div>
